.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    margin-right: 10px;
}

.nav {
    display: flex;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.link:hover {
    color: #ffe066;
}

.socialSection {
    display: flex;
    gap: 15px;
}

.icon {
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.icon:hover {
    color: #ffe066;
}
