.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #595959;
    color: white;

    /* deixa no cabeçalho */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;

    box-sizing: border-box;   /* Considera padding no cálculo da largura */
    z-index: 1000;            /* Garante que fique acima de outros elementos */
}




.logoContainer {
    display: flex;
    align-items: left;
    flex-direction: column;
    
}

.logo {
    width: 60px;
    margin-right: 10px;
}

.nav {
    display: flex;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.link:hover {
    color: #ffe066;
}

.socialSection {
    display: flex;
    gap: 15px;
}

.icon {
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.icon:hover {
    color: #ffe066;
}
